# - - - - - - - - -  - - - - - - - - - -
# Global Variables
# - - - - - - - - -  - - - - - - - - - -

# Base directory
ROOT_DIR=`pwd`

# Virtual machine name
VM_NAME='dev'


# - - - - - - - - -  - - - - - - - - - -
# Project Variables
# - - - - - - - - -  - - - - - - - - - -

# Options: m1|m2
MAGENTO_VERSION='m2'

# Project dev url. you can use localhost by default
SERVER_NAME='localhost'

# Options: dev|stg|prd
ENV='dev'

# Container's names
CONTAINER_DB='sample-mysql'
CONTAINER_PHP='sample-php'
CONTAINER_NGNIX='sample-nginx'
CONTAINER_REDIS='sample-redis'
